{% extends "base.html" %}

{% block body %}
<fieldset>
    <p>
        3D Printing is a process for making a physical object from a three-dimensional digital model, typically by
        laying down many successive thin layers of a material. It brings a digital object (its CAD representation) into
        its physical form by adding layer by layer of materials.
    </p>
    <p>
        There are several different techniques to 3D Print an object. We will go in further details later in the Guide.
        3D Printing brings two fundamental innovations: the manipulation of objects in their digital format and the
        manufacturing of new shapes by addition of material.
    </p>
    <p>
        Click <a href="https://3dprinting.com/what-is-3d-printing/" target="_blank"> here </a>to explore more.
        <a href="/technologies"><input type="button" value="Back" /></a>
    </p>
</fieldset>
{% endblock %}