{% extends "base.html" %}

{% block body %}
<fieldset>
    <p>
        Cloud computing is the delivery of computing services—including servers, storage, databases, networking,
        software, analytics, and intelligence—over the Internet (“the cloud”) to offer faster innovation, flexible
        resources, and economies of scale.
    </p>
    <p>You typically pay only for cloud services you use, helping you lower your
        operating costs, run your infrastructure more efficiently, and scale as your business needs change.
    </p>
    <p>
        Click <a href="https://cloud.google.com/learn/what-is-cloud-computing" target="_blank"> here </a>to explore
        more.
        <a href="/technologies"><input type="button" value="Back" /></a>
    </p>
</fieldset>
{% endblock %}