{% extends "base.html" %}

{% block body %}
<div>
    <p>
        <h3>EDUCATION</h3>
        <ul>
            <li>2020 – present - Bachelor of Science Software Development, Carlow IT, Carlow</li>
            <li>2019 – 2020 - Information Technology Traineeship - Software Development, KCETB Training Services, Carlow
            </li>
            <li>1994 – 1998 - Leaving Cert, Krzysztof Kamil Baczynski Lyceum in Dabrowa Gornicza, Poland</li>
        </ul>
    </p>
    <p>
        <h3>EXPERIENCE</h3>
        <ul>
            <h4>07/2007 – 01/2019 ALLIED IRISH BANKS</h4>
            <h5>CUSTOMER SERVICE ADVISOR</h5>
            <h5>Duties:</h5>
            <li>Trained and coached new staff members.</li>
            <li>Responsible for documenting daily procedures, training plans, and creating
                training materials.</li>
            <li>Pro-actively attending and participating at project meetings and Customer
                Service Advisor’s forums.</li>
            <li>Researched and delivered presentation on internet banking improvements.</li>
            <li>Member of the Communication, Change and Improvement team: recorded
                customer/staff feedback, investigated the possibility of integration of the
                ideas within the bank and feedback results to involved parties.</li>
            <li>Designed and maintained “e-folder” tool which contained all-in-one
                procedures and training materials required for daily tasks.</li>
            <li>Documented and delivered a comprehensive User Acceptance Test.</li>
            <li>Provided status reports at project meetings to management and members
                of the team. I actively participated in discussions regarding problems
                encountered and finding fixes for these.</li>
            <li>Won “CSA of the month” award and I was shortlisted for “CSA of the year“
                award.</li>
        </ul>
        <ul>
            <h4>01/2006 – 06/2007 ISS RECRUITMENT</h4>
            <h5>GENERAL OPERATIVE</h5>
            <h5>Duties:</h5>
            <li>Supervising production line.</li>
            <li>Stock controller.</li>
            <li>Order assistant.</li>
        </ul>
    </p>
    <p>
        <h3>SKILLS</h3>
        <ul>
            <li>Operating System: Windows, Linux, MacOs</li>
            <li>iLearn Personal Productivity: Self-organization and Overcoming
                Procrastinationa</li>
            <li>MTA: Database Fundamentals – Certified 2019</li>
            <li>MTA: Windows Operating System Fundamentals – Certified 2020</li>
            <li>MTA: Networking Fundamentals – Certified 2020</li>
            <li>NALA Business Writing Course</li>
            <li>First Certificate in English (FCE)</li>
            <li>Full Driving Licence</li>
            <li>UI/UX Design</li>
            <li>HTML/CSS</li>
            <li>Java</li>
            <li>PHP</li>
            <li>JavaScript</li>
            <li>SQL</li>
        </ul>
    </p>
    <p>
        <h3>INTEREST AND HOBBIES</h3>
        <ul>
            <li>Modern history</li>
            <li>3D printing</li>
            <li>Cycling</li>
        </ul>
    </p>
</div>
{% endblock %}