{% extends "base.html" %}

{% block body %}
<fieldset>
     <h3>Briefly about me.</h3>
     <p>
          I was born in 1979, in <a href="https://en.wikipedia.org/wiki/D%C4%85browa_G%C3%B3rnicza" target="_blank">
               Dabrowa
               Gornicza</a>, Poland. I came to Ireland in October 2001.<br>
               I gradually learned to speak English and after a while, I decided to stay here.
               Currently, I am waiting to become an official "plastic Paddy".
     </p>
     <p>
          I am an experienced customer service advisor who takes an enthusiastic 
          approach, combined with a friendly and genuine dedication to customer 
          satisfaction. I am a very dependable self-starter with the ability to 
          work on my initiative. I have excellent written and verbal communication 
          skills. I have good presentation skills. I get on extremely well with 
          everyone which allows me to build productive working relationships with 
          internal teams, management, and external stakeholders. I am a forward-thinking
          and open-minded person, and I am always looking to improve myself and my work
          environment.
     </p>
     <p>
          <h3>What do I like?</h3>
          <p>
               <ul>
                    <li>I like to learn new things/skills.</li>
                    <li>I like <a href="/interest">cycling and hiking</a>.</li>
                    <li>I like to listen to audiobooks.</li>
                    <li>I like to spend time with my family.</li>
                    <li>I like to read good comic books.</li>
               </ul>
          </p>
     </p>
     <p>
          <h3>What I don't like?</h3>
          <p>
               <ul>
                    <li>Dishonesty.</li>
                    <li>Fake friends.</li>
                    <li>Lack of respect.</li>
                    <li>People who "know it all".</li>
                    <li>Injustice.</li>
                    <li>Bullies.</li>
               </ul>
          </p>
     </p>
     <p>
          I would greatly appreciate it if you could spend a few seconds and fill in this short <a href="/form">form</a>.
     </p>
</fieldset>

{% endblock %}