{% extends "base.html" %}

{% block body %}
<fieldset>
    <h3>Hiking</h3>
    <p>
        I love hiking. Mainly for two reasons:
        <ul>
            <li>First - because I do it with my wife and kids.</li>
            <li>Second - I am actively spending my time surrounded by nature.</li>
        </ul>
    </p>
    <p>
        Thankfully COVID-19 and movement restrictions are over and we can enjoy ourselves again.
    </p>
    <p>
        Here are some photos from our hiking trips:</br>
        <img src="static/pictures/h1.jpg" alt="Happy Hikers" width="300" height= "300">
        <img src="static/pictures/h2.jpg" alt="Happy Hikers" width="300" height= "300">
        <img src="static/pictures/h3.jpg" alt="Happy Hikers" width="300" height= "300">
        <img src="static/pictures/h4.jpg" alt="Happy Hikers" width="300" height= "300">
    </p>
    <h3>Cycling</h3>
    <p>
        Why do I like it? Now that I think of it, I am not sure. I am sweating profusely and after the ride, I can barely walk.
    </p>
    <p>
        I like it because of all the physical activities out there this one suits me just right.
        I tried gym a few times and every time I managed to injure myself. 
        I know, right?
    </p>
    <p>
        Thanks to cycling I have noticed a huge improvement in my mental state. I feel more motivated, full of energy. 
        Something that I did not feel for a long time.  
    </p>
    <p>
        I recommend cycling but I understand it is not to everybody liking (I am still trying to convince my wife). You do not need some fancy equipment at the start. 
        Just serviced bike, helmet, high visibility jacket and you are good to go. 
    </p>
    <p>
        Here are some photos from my cycling trips:</br>
        <img src="static/pictures/c1.png" alt="Cycling" width="300" height= "300">
        <img src="static/pictures/c2.jpg" alt="Cycling" width="300" height= "300">
        <img src="static/pictures/c3.jpg" alt="Cycling" width="300" height= "300">
        <img src="static/pictures/c4.jpg" alt="Cycling" width="300" height= "300">
    </p>
</fieldset>

{% endblock %}