{% extends "base.html" %}

{% block body %}
<fieldset>
    <p>
        Computing technology has a great role in helping to solve real-world problems and the critical issues affecting
        world today.
    </p>

    <p>Computing technologies that I am interested in are Machine Learning and Cloud Computing.</p>
    <p>There is another technology that I like. Not straightforward computing technology but it is awesome as well. It
        is 3D printing.
    </p>
    <p>
        If you are interested in any of the above technologies, below are some interesting sources:
        <ul>
            <li><a href="https://developers.google.com/machine-learning/crash-course/ml-intro" target="_blank">Machine
                    Learning</a></li>
            <li><a href="https://cloud.google.com/learn/what-is-cloud-computing" target="_blank">Cloud Computing</a>
            </li>
            <li><a href="https://3dprinting.com/what-is-3d-printing/" target="_blank">3D Printing</a></li>
        </ul>
    </p>
</fieldset>
{% endblock %}